.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-container label,
.input-group input,
.input-group .unit {
    font-family: "Nunito Sans", sans-serif;
}

.input-container label {
    font-weight: 600;
}

.input-group .unit {
    margin-left: 3%;
}
